{% if form.non_field_errors %}
  <div class="form-errors">{{ form.non_field_errors }}</div>
{% endif %}
{% for field in form %}
  <label class="{% if field.field.widget.input_type == 'checkbox' %}checkbox{% endif %}">
    <span{% if hide_labels %} class="sr-only"{% endif %}>{{ field.label }}</span>
    {{ field }}
    {% if field.help_text and not hide_help %}<small>{{ field.help_text }}</small>{% endif %}
    {% for error in field.errors %}<small class="error">{{ error }}</small>{% endfor %}
  </label>
{% endfor %}
